.profileBody {
    padding: 2.8rem 4rem 0 10rem;
    display: flex;
    flex-direction: column;
}

.indicatorZone {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profilDataTemplate {
    width: 100%;
}

.threeGraphs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
